@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  height: 100vh;
  font-family: Menlo, Monano, Consolas, "Droid Sans Mono", monospace;
}

#root {
  width: 100%;
  height: 100%;
  --primary: #95daff;
  --secondary: #20d91c;
  --third: #d91c1c;
}