@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
  --primary: #8AFFF1;
  --secondary: #20D91C;
  --third: #D91C1C;
}